// Here you can add other styles
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  color: #e0f2f1;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--royal-purple-200);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rose-pink-50);
  border: 1px solid var(--rose-pink-200);
  border-radius: 8px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--rose-pink-100);
}
